%h1= "Confirm you order"

= form_tag send_order_path do
  .form-group
    = label_tag :email, 'put your email'
    %br
    = text_field_tag :email
  .actions
    = submit_tag 'confirm order'

  = link_to 'Back to cart', cart_path, method: :get, class: 'btn btn-default btn-sm'