.index_style
  .h1= t('h1.cart')
  %table.table.table-hover
    %thead
      %tr
        %th= t('product.name')
        %th= t('product.description')
        %th= t('product.price')
    %tbody
      - @products_in_cart.each do |product|
        %tr
          %td= product.name
          %td= product.description
          %td= product.price
  %br
  .links
    = link_to t('buttons.button_go_product_list'), products_path, class: 'btn btn-default'
    = link_to 'Order', order_cart_path, method: :get, class: 'btn btn-default'


