%h2= 'Products list'

%table.table.table-hover
  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.description
      %td= product.price
      %td= link_to 'Show', product, class: 'btn btn-default btn-sm'
      %td= link_to 'Edit', edit_product_path(product), class: 'btn btn-default btn-sm'
      %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm'
      %td= button_to 'add to cart', add_to_cart_path(product_id: product.id), remote: true

%br
= link_to 'Create new product', new_product_path, class: 'btn btn-default'
= link_to 'All accounts', accounts_path, class: 'btn btn-info'