.index_style
  %p.show_text
    %strong Name:
    = @product.name
  %p.show_text
    %strong Description:
    = @product.description
  %p.show_text
    %strong Price:
    = @product.price
  .links.links_inline
    = link_to 'Edit', edit_product_path(@product), class: 'btn btn-success'
    .links.links_inline
    = link_to 'Destroy', @product, method: :delete, data: { confirm: 'You sure?' }, class: 'btn btn-danger'
    .links.links_inline
    = link_to 'Back', products_path, class: 'btn btn-primary'