.index_style
  .product_image
    = image_tag @product.image.url(:medium)
  %p.show_text
    %strong Name:
    = @product.name
  %p.show_text
    %strong Description:
    = @product.description
  %p.show_text
    %strong Price:
    = @product.price
  .links.links_inline
    = link_to t('buttons.button_edit'), edit_product_path(@product), class: 'btn btn-success'
    .links.links_inline
    = link_to t('buttons.button_destroy'), @product, method: :delete, data: { confirm: 'You sure?' }, class: 'btn btn-danger'
    .links.links_inline
    = link_to t('buttons.button_back'), products_path, class: 'btn btn-info'