.all_file
%h1= t('h1.account_list')
%table
  %thead
    %tr
      %th= Account.human_attribute_name(:name)
      %th= Account.human_attribute_name(:age)
      %th{:colspan => "3"}
  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.name
        %td= account.age
        %td= link_to t('buttons.button_show'), account, class: 'btn btn-primary'
        %td= link_to t('buttons.button_edit'), edit_account_path(account), class: 'btn btn-warning'
        %td= link_to t('buttons.button_destroy'), account, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%br/
.links
  = link_to t('links.link_new_account'), new_account_path, class: 'btn btn-info'
  %br/
  = link_to t('links.link_back_product_list'), products_path
